/* calibDot */

.calibDot{
	 position:absolute;
	 display:none;
	 width:180px;
	 height:180px;
}

.calib-active .calibDot{
	display:block;
}


.calibDot-topleft{
	top:60px;
	left:110px;
}
.calibDot-topright{
	top:60px;
	right:110px;
}
.calibDot-bottomleft{
	bottom:60px;
	left:110px;
}
.calibDot-bottomright{
	bottom:60px;
	right:110px;
}
.calibDot-center{
	top:50%;
	left:50%;
	margin-top:-90px;
	margin-left:-90px;
}

/*

other positions

*/
.calibDot--inner{
 position:relative;
 width:180px;
 height:180px;
}
.calibDot--bg{
 background: #666 ; /*url('/img/rotate_8points_sprite.jpg') no-repeat -12px -5px;*/
 width:100%;
 height:100%;
 border-radius:90px;
 position:absolute;
 top:0;
 left:0;
 z-index:-1;
}
.calibDot--userHead{
 background-color: rgba(230,230,0,0.6); /*url('/img/rotate_8points_sprite.jpg') no-repeat -12px -5px;*/

 transition: background-color 0.5s ease;
 width:20px;
 height:20px;
 border-radius:10px;
 position:absolute;
 /*top:80px;
 left:80px;*/
}

.calibDot--userHead.error{
	background-color: rgba(230,0,0,0.4); 
}

/*
.calibDot--userHead-up{top:0;bottom:auto;}
.calibDot--userHead-down{bottom:0;top:auto;}
.calibDot--userHead-left{left:0;right:auto;}
.calibDot--userHead-right{right:0;left:auto;}

.calibDot--userHead-up.calibDot--userHead-left{top:23px;right:23px;}
.calibDot--userHead-up.calibDot--userHead-right{top:23px;left:23px;}
.calibDot--userHead-down.calibDot--userHead-left{bottom:23px;left:23px;}
.calibDot--userHead-down.calibDot--userHead-right{bottom:23px;right:23px;}
*/

.calibDot--message{
 display:table;
 width:100%;
 height:100%;
 font-family:"Roboto Slab",Georgia, "Times New Roman", Times, serif;
 /*font-weight:bold;*/
	 letter-spacing:-1px;
 color:#888;
 font-size:1.2em;
}
.calibDot--message--inner{
	display:table-cell;
 	vertical-align:middle;
}
.calibDot--message-up .text, .calibDot--message-down .text{
	display:block;
	position:absolute;
	width:100%;
}
	
.calibDot--message-up .calibDot--message--inner{
    vertical-align:top;
	margin-top:-100%;
}
.calibDot--message-down .calibDot--message--inner{
    vertical-align:bottom;
}

.calibDot--message-up{
 text-align:center;
 width:100%;
 
}
.calibDot--message-right{
 margin-left:105%;
 text-align:left;
 width:60%;
}
.calibDot--message-down{
 text-align:center;
 width:100%;
}
.calibDot--message-left{
 margin-left:-65%;
 text-align:right;
 width:60%;
}

.calibDot--message-center{
 text-align:center;
 width:100%;
 color:#fff;
 text-shadow:0 0 2px #000;
 font-size:1.2em;
 }
 
 
 /* gaze dot */
 .gazeDot{
 	 position:absolute;
 	 display:none;
	 background-color: rgba(0,150,0,0.5); 
	 width:40px;
	 height:40px;
	 border-radius:20px;
	 top:0;
	 left:0;
	 z-index:1;
 }

 .gaze-active .gazeDot{
 	display:block;
 }
 
 
 /* screen msg */
 .screenMessage{
 	 position:absolute;
	 top:45%;
	 width:100%;
	 text-align:center;
	 font-family:"Roboto Slab",Georgia, "Times New Roman", Times, serif;
	 /*font-weight:bold;*/
	 letter-spacing:-1px;
	 color:#888;
	 font-size:3em;
 }
 
 
 /* debugger */
 
 .calibDebugger, .stateDebugger{
	 position:absolute;
	 top:2.5%;
	 right:35%;
	 font-size:0.9em;
	 font-family:monospace;
	 width:30%;
	 height:95%;
	 padding:0 20px;
	 display:none;
 }
 .stateDebugger{
	 right:2%;
 }
 
 /* status */
 .status{
	 position:absolute;
	 left:0;
	 top:40%;
	 font-family: Arial;
	 font-size:13px;
	 list-style:none;
	 width:400px;
	 border:1px solid #ccc;
	 margin-left:0;
	 padding-left:0;
	 background:rgba(255,255,255,0.5);
 }
  .status li{
	  padding:0.3em;
	  border-top:1px solid #ccc;
  }
  .status span{
	  display:inline-block;
  }
  
  .status .property{
	  width:250px;
  }
  .status .value{
	  width:100px;
  }
 
 .status .valid{
	 color:#0f0;
 }
 
 .status .invalid{

	 color:#f00;
 }
 
 